<footer id="contact-info">
{{ $baseUrl := .Site.BaseURL }}

{{ if isset .Params "tags" }}
  {{ $count := len .Params.tags }}
  {{ if gt $count 0 }}
  <div class="post-tags">
    {{ range $k, $v := .Params.tags }}
      <a href="{{ $baseUrl }}tags/{{ . | urlize }}"><small>{{ . }}</small></a>,{{ if lt $k (sub $count 1) }}{{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

	<ul class="contact-details">
		<li>Gmail: picauly88</li>
		<li>Twitter: @ma5ly</li>
		<li>Github: picaulegend</li>
		<li>Instagram: picaulegend</li>
	</ul>
</footer>