<div class="post-meta">

  <div class="post-details">
    Originally posted at <time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}</time>
  </div>

  {{ $baseUrl := .Site.BaseURL }}

  {{ if isset .Params "categories" }}
  {{ $count := len .Params.categories }}
  {{ if gt $count 0 }}
  <div class="post-categories">
    {{ range $k, $v := .Params.categories }}
      <a href="{{ $baseUrl }}categories/{{ . | urlize }}"><button class="category-label">{{ . }}</button></a>{{ if lt $k (sub $count 1) }} {{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

</div>