<header id="menu">
    <a href="/"><h5>Tothefront.co</h5></a>
    <div class="show-for-medium">
      <img src="/img/tothefront.png" alt="TOTHEFRONT">
    </div>
    <p class="show-for-medium blog-description">If you can see it, hear it, or feel it. tothefront.co is a blog for anyone who is enthusiastic about making creative stuff on the web.</p>
</header>
<nav>
	<ul>
		<li><a href="/categories/code/"><button class="red full">Code</button></a></li>
		<li><a href="/categories/design"><button class="green full">Design</button></a></li>
	</ul>
</nav>
