



/* formatting */
h1, h2, h3, h5 {
	color: var(--dark);
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

h1 {
	line-height: 1.1;
}

h5 {
	color: var(--white);
}

p {
	font-family: 'Domine', serif;
}

.post-details {
	color: var(--dark);
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 1.2rem;
}

.title-link {
	color: var(--dark);
}

.title-link:hover {
	color: var(--dark);
}