



/* formatting */
h1, h2, h3 {
	color: var(--dark);
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

p {
	font-family: 'Domine', serif;
}

.post-details {
	color: var(--dark);
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 1.2rem;
}