/* variables */

:root {
  --black: black;
  --dark: #333333;
  --dneutral: #636363;
  --neutral: #939393;
  --lneutral: #C2C2C2;
  --light: #f2f2f2;
  --white: white;
  --red: #EB5757;
  --green: #27AE60;
  --yellow: #F2C94C;
  --blue: #56CCF2;
}
