@import "imports/foundation.css";
@import "imports/variables.css";
@import "imports/typography.css";

#sidebar {
	background: var(--dark);
	color: var(--white);
	padding-top: 30px;
	padding-bottom: 30px;
}

main {
	background: var(--light);
	padding-top: 30px;
	padding-bottom: 30px;
}

#menu {
	margin-bottom: 30px;

	& h5 {
		text-align: center;
	}

	& a {
		color: var(--white), white;
	}

	& img {
		margin-bottom: 30px;
	}
}

button {
	padding: 10px 15px;
	color: white;
	font-weight: 700;
	cursor: pointer;
	border-radius: 0;
	text-align: left;

	&.full {
		width: 100%;
	}

	&.yellow {
		background: var(--yellow);
	}

	&.red {
		background: var(--red);
	}

	&.blue {
		background: var(--blue);
	}

	&.green {
		background: var(--green);
	}

	&.category-label {

	}
}


nav {
	& ul {
		list-style: none;
		margin-left: 0;

		& li {
			margin-top: 10px;
		}
	}
}

.summary {
	margin-bottom: 30px;
}